<h1 style="font-size:200px;">Garbage 2.0</h1>

<span style="float:right;margin-right:15%">-- by wzc</span>

<br/>
<a href="/chengchat/index" style="float:right;margin-right:15%;margin-top:50px;">msg</a>
